* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #ffff;
}

.inicio {
  color: #ffff;
  background: url(../assets/images/banner-bk.jpg) no-repeat;
  padding: 80px 20px;
}

.inicio .titulo {
  text-align: justify;
  color: #ffff;
  width: 800px;
  margin-left: 100px;
}

.logo {
  display: flex;
  justify-content: space-between;
  height: 80px;
  margin: 10px 100px;
}

.logo a {
  color: #ffff;
  align-items: center;
  text-decoration: none;
}

.titulo h1 {
  font-size: 64px;
  text-align: justify;
  margin-bottom: 20px;
}

.titulo .boton {
  background: #00ffad;
  color: #192440;
  padding: 10px 20px;
  border-radius: 25px;
  text-decoration: none;
  display: inline-block;
  margin-top: 35px;
}
.smartest {
  display: flex;
  justify-content: center;
  padding: 40px 20px;
  background: white;
}

.cajon {
  display: flex;
  justify-content: center;
  gap: 60px;
  max-width: 1000px;
  text-align: center;
}

.espacios {
  flex: 1 1 250px;
  max-width: 300px;
}

.espacios img {
  width: 150px;
  height: auto;
  margin-bottom: 15px;
}

.title {
  text-align: center;
  margin-top: 35px;
  font-size: 25px;
}

.diagonal {
  background: linear-gradient(-13deg, #00ffad 60%, white 40%);
  padding: 80px 200px;
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.column {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.column.table {
  flex-direction: row-reverse;
}

.text {
  max-width: 500px;
  color: #292b2c;
}

.text h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.text p {
  margin-bottom: 20px;
  color: #00332c;
}

.image img {
  width: 500px;
  height: auto;
}

.btn {
  background-color: #0e1833;
  color: white;
  padding: 10px 25px;
  text-decoration: none;
  border-radius: 50px;
}

.tarjetas {
  padding: 100px 0px 0px 0px;
  text-align: center;
  background-color: white;
}

.titulo-pre {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 40px;
}

.precio {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.tarjeta {
  background-color: #ffffff;
  padding: 30px 20px;
  border-radius: 1px;
  width: 280px;
  text-align: center;
}

.tarjeta.activa {
  background-color: #0d112f;
  color: rgb(255, 255, 255);
}

.tarjeta h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.valor strong {
  font-size: 100px;
}

.tarjeta ul {
  list-style: none;
  padding: 0;
  margin: 20px 0;
  font-size: 14px;
  line-height: 2;
}

.boton-pre {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 24px;
  font-size: 14px;
  color: #000;
  background-color: white;
  border-radius: 20px;
  border: 1px solid #000000;
  text-decoration: none;
}

.boton-pre.destacado {
  background-color: #26ff79;
  color: black;
  border: none;
}

.compañias {
  background: #eceeef;
  padding: 50px;
  margin-top: 120px;
  display: flex;
  justify-content: space-evenly;
}

.contacto {
  background: url("../assets/images/contact-bk.jpg") no-repeat center
    center/cover;

  color: white;

}

.contact {
 display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3% 9%;
} 


.contact .informacion {
  flex: 1;
  min-width: 300px;
}

.contact .informacion h2 {
  font-size: 4rem;
  margin-bottom: 20px;
}

.contact .info p {
  margin-bottom: 10px;
  font-size: 2rem;
  line-height: 2rem;
}

.formulario {
    padding: 0px;
    background-color: transparent;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;

}

.forms {
    color: #00f5c3;
    margin-bottom: 5px;
}


.block {
    width: 100%;
    padding: 50px;
    height: 35%;
    margin-bottom: 10px;
    border: 2px solid #00f5c3;
    border-radius: 6px;
    background-color: transparent;
    color: white;
}

.block2 {
    width: 100%;
    height: 100px;
    padding: 10px;
    border: 2px solid #00f5c3;
    border-radius: 6px;
    background-color: transparent;
    color: white;
    resize: none;
    margin-bottom: 20px;
}

.input {
    display: flex;
    gap: 40px;
}

.input1,.input2 {
    flex: 1;
    padding: 5% 0%;
}

.submit {
    width: 104%;
    padding: 15px ;
    border: none;
    border-radius: 25px;
    background: #00f5c3;
    color: #192440;
    font-weight: bold;
}

.input-transparente {
    background-color: transparent;
    border: 1px solid #00FFAD;
    color: #00FFAD;
    padding: 10px;
    outline: none;
    border-radius: 3px;
}

.footer {
  background-color: #192440;
  padding: 20px 90px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  color: white;
  font-size: 14px;
}

.tex-footer span {
  color: #00f6b8;
}

.redes {
  display: flex;
  gap: 15px;
}

.redes i {
  font-size: 18px;
  color: white;
}